# Created by .ignore support plugin (hsz.mobi)
.idea/WP-Conferences-Manager.iml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/reactTemplatesPlugin.xml
.idea/workspace.xml
