.single-ccm_conferences {
  color: rgb(43, 43, 43);

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Lato', sans-serif;
  }

  &.hide-header {
    #masthead {
      display: none;
    }
  }

  .purchase_btn {
    text-decoration: none;
    min-height: 73.3333px;
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
    color: #FFF;
    padding: 15px 30px;
    border-radius: 20px;
    background-color: rgb(53, 113, 208);
    display: block;
    max-width: 84%;
    margin: 0 auto;
  }

  .conf-container {
    max-width: 820px;
    width: 100%;
    margin: 20px auto;
    padding: 15px;

    .conf_header {
      text-align: center;

      .conf_header_logo {
        width: 100%;
        margin: 0 auto;
      }

      h3 {
        font-size: 28px;
        margin-bottom: 20px;
      }

      .conf_header__paragraph {
        h1 {
          font-size: 52px;
          line-height: 1.3;
          font-family: 'Roboto Slab', serif;
        }
      }

      .conf_header__intro {
        p {
          font-family: 'Roboto Slab', serif;
          font-weight: 300;
          color: rgb(51, 51, 51);
          font-size: 22px;
          margin-bottom: 10px;
        }

        h3 {
          font-size: 40px;
          font-weight: 700;
        }
      }

      .conf_header__cta {
        padding: 10px 0;
      }
    }

    .conf_content {
      .conf_content__ticket {
        border: 2px solid rgb(235, 98, 88);
        padding: 20px 30px;

        h3 {
          font-family: "Roboto Slab", serif;
          font-weight: 400;
          color: rgb(254, 6, 56);
          font-size: 30px;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 20px;
        }

        ul {
          display: block;
          max-width: 540px;
          margin: 0 auto 30px;

          li {
            font-family: "Roboto Slab", serif;
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            margin: 15px 0;
          }
        }

        h4 {
          text-align: center;
          color: rgb(254, 6, 56);
          font-size: 33px;
          font-family: "Roboto Slab", serif;
          font-weight: 400;
        }

        a {
          @extend .purchase_btn;
          text-align: center;
          max-width: 60%;
          display: block;
          margin: 10px auto;
          padding: 18px 30px;
        }
      }

      margin-bottom: 20px;

      .conf_content__session-intro {
        text-align: center;
        font-size: 28px;
        font-family: 'Roboto Slab', serif;
        margin: 20px 0;
      }
    }

    .conf_sessions {
      text-align: center;

      .conf_sessions__title {
        font-size: 28px;
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
        margin-bottom: 20px;
      }

      .conf_sessions__row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;

        &.columns__1 {
          .conf_sessions__single {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%
          }
        }

        &.columns__2 {
          .conf_sessions__single {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            @media (max-width: 767px) {
              -ms-flex: 0 0 100%;
              flex: 0 0 100%;
              max-width: 100%
            }
          }
        }

        &.columns__3 {
          .conf_sessions__single {
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            @media (max-width: 767px) {
              -ms-flex: 0 0 100%;
              flex: 0 0 100%;
              max-width: 100%
            }
          }
        }

        .conf_sessions__single {
          position: relative;
          width: 100%;
          padding-right: 15px;
          padding-left: 15px;

          h4 {
            color: rgb(0, 0, 0);
            font-size: 18px;
            font-family: Lato, sans-serif;
            font-weight: 700;
            line-height: 24px;
            margin: 10px 0 0;
          }

          .speaker__image {
            img {
              border-radius: 50%;
            }
          }

          .conf_sessions__time {
            @extend h4;
            color: rgb(153, 153, 153);

            span {
              margin-right: 10px;
            }
          }

          .session_content {
            @extend h4;
            color: rgb(153, 153, 153);
            font-weight: 300;
          }
        }
      }
    }

    .conf_content__bottom {
      text-align: center;

      h3 {
        font-family: "Roboto Slab", sans-serif;
        font-size: 36px;
      }

      .conf_why__item {
        text-align: center;
        max-width: 600px;
        margin: 20px auto;

        .conf_why__item-number {
          width: 80px;
          height: 80px;
          line-height: 72px;
          font-size: 48px;
          color: #fff;
          background: rgb(62, 77, 184);
          border: 5px solid #FFF;
          border-radius: 50%;
          box-sizing: border-box;
          margin: 20px auto;
          box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
        }

        h4 {
          font-family: Lato, sans-serif;
          font-weight: 700;
          color: rgb(51, 51, 51);
          font-size: 40px;
        }

        p {
          font-size: 20px;
          text-align: center;
        }
      }

      .conf_guarantee {
        max-width: 100%;
        padding: 0 50px 30px;
        width: 640px;
        margin: 100px auto 20px;
        position: relative;
        border: 2px solid rgb(229, 229, 229);

        img {
          &:nth-child(1) {
            margin-top: -90px;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
        }

        h3 {
          font-family: "Lato", sans-serif;
          font-weight: 400;
          color: rgb(229, 55, 43);
          font-size: 54px;
          padding-bottom: 20px;
          border-bottom: 1px solid rgb(229, 229, 229);
        }

        p {
          text-align: left;
          font-family: "Lato", sans-serif;
          font-weight: 300;
          line-height: 24px;
          font-size: 20px;
        }
      }

      .conf_testimonials {
        h3 {
          font-size: 36px;
          font-weight: 700;
        }

        .conf_testimonial__items {
          box-shadow: rgba(255, 255, 255, 0.4) 0 0 0 1px inset;
          background-color: rgb(249, 249, 249);
          border: 1px solid rgb(193, 193, 193);
          max-width: 100%;
          padding: 20px 30px;
          width: 640px;
          position: relative;
          margin: 20px auto;
          text-align: left;

          p {
            margin-bottom: 0;
            margin-left: 120px;
          }

          .conf_testimonial__item-image {
            position: absolute;
            top: 20px;

            img {
              border-radius: 50%;
            }
          }
        }
      }

    }

    .wp-block-embed__wrapper {
      max-width: 100%;
      width: 640px;
      position: relative;
      margin: 20px auto;
    }
  }
}

.single-ccm_speakers {
  .conf_single-speaker {
    max-width: 1200px;
    margin: 0 auto;
    @media (max-width: 568px) {
      max-width: 568px;
    }
    @media (max-width: 768px) {
      max-width: 768px;
    }
    @media (max-width: 1024px) {
      max-width: 1024px;
    }
  }

  h2 {
    text-align: center;
  }

  img {
    display: block;
    margin: 10px auto;
    border-radius: 50%;
  }

  a{
    text-decoration: none;
  }

  .social-links-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
  }

  .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      float: left;
      margin: 10px;
    }
  }

  .speaker_content {
    max-width: 800px;
    margin: 10px auto;
  }
}
